<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/mongo 
        http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

    <context:component-scan base-package="nl.kpmg.af.service.v0"/>
    <context:component-scan base-package="nl.kpmg.af.service.v1"/>

    <!-- bean definitions here -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="ignoreResourceNotFound" value="true" />
        <property name="locations">
            <list>
                <value>classpath:mongo.properties</value>
                <value>file:config/mongo.properties</value>
            </list>
        </property>
    </bean>

    <mongo:repositories  base-package="nl.kpmg.af.service.data.security.repository"/>


    <mongo:repositories base-package="nl.kpmg.af.service.data.security.repository"/>
    <mongo:mongo host="${mongodb.host}" port="${mongodb.port}" id="mongo" >
    </mongo:mongo>

    <mongo:mongo-client host="${mongodb.host}" port="${mongodb.port}" credentials="${mongodb.username}:${mongodb.password}@${mongodb.database}">
        <mongo:client-options write-concern="NORMAL" />
    </mongo:mongo-client>


    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongo" ref="mongo"/>
        <constructor-arg name="databaseName" value="${mongodb.database}" />
    </bean>

    <bean id="mongoDBUtil" class="nl.kpmg.af.service.data.MongoDBUtil"/>
</beans>