<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util.xsd 
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/mongo 
        http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">
    
    <context:component-scan base-package="nl.kpmg.af.service.v0" />
    <context:component-scan base-package="nl.kpmg.af.service.v1" />
    <context:property-placeholder location="classpath:mongo.properties"  />

    <mongo:repositories base-package="nl.kpmg.af.service.data.security.repository"/>
    <mongo:db-factory
            id="mongoDbFactory"
            host="${mongodb.url}"
            port="${mongodb.port}"
            username="${mongodb.username}"
            password="${mongodb.password}"
            dbname="${mongodb.database}" />
    <bean id="mongoDb" factory-bean="mongoDbFactory" factory-method="getDb"/>
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
    </bean>

    <bean id="mongoDBUtil" class="nl.kpmg.af.service.data.MongoDBUtil"/>
    <bean id="permissionCheckerFilter" class="nl.kpmg.af.service.security.PermissionCheckerFilter"/>
</beans>